<div class="fourms">
  <tabset>
    <tab heading="Fourms">
      <div class="header">
        <i class="fa fa-trash"></i>
        Discussions (3)
      </div>
      <div class="info-list-row">
        <div class="row">
          <div class="col-2 icon-container">
            <i class="fa fa-comments fa-2x"></i>
          </div>
          <div class="col-10">
            <h5>General</h5>
            <span>16 threads . 2 posts</span>
          </div>
        </div>
      </div>
      <div class="info-list-row">
        <div class="row">
          <div class="col-2 icon-container">
            <i class="fa fa-comments fa-2x"></i>
          </div>
          <div class="col-10">
            <h5>Movie</h5>
            <span>16 threads . 2 posts</span>
          </div>
        </div>
      </div>
      <div class="info-list-row">
        <div class="row">
          <div class="col-2 icon-container">
            <i class="fa fa-comments fa-2x"></i>
          </div>
          <div class="col-10">
            <h5>Music</h5>
            <span>16 threads . 2 posts</span>
          </div>
        </div>
      </div>
      <div class="header">
        <i class="fa fa-trash"></i>
        Computer & Technology (4)
      </div>
      <div class="info-list-row">
        <div class="row">
          <div class="col-2 icon-container">
            <i class="fa fa-comments fa-2x"></i>
          </div>
          <div class="col-10">
            <h5>General</h5>
            <span>16 threads . 2 posts</span>
          </div>
        </div>
      </div>
      <div class="info-list-row">
        <div class="row">
          <div class="col-2 icon-container">
            <i class="fa fa-comments fa-2x"></i>
          </div>
          <div class="col-10">
            <h5>Movie</h5>
            <span>16 threads . 2 posts</span>
          </div>
        </div>
      </div>
      <div class="info-list-row">
        <div class="row">
          <div class="col-2 icon-container">
            <i class="fa fa-comments fa-2x"></i>
          </div>
          <div class="col-10">
            <h5>Music</h5>
            <span>16 threads . 2 posts</span>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="New Post"></tab>
    <tab heading="My Threads"></tab>
    <tab heading="Subscribed Threads"></tab>
  </tabset>
</div>
