#loginPage {
  .overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-image: url("../../../assets/images/login.jpg");
    background-size: cover;
    background-position: center;
    .cover{
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
  }
  #card-conatiner {
    height: 100vh;
    .card {
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      .btn-link{
        color: #ffffff;
        font-weight: 100;
      }
    }
  }
}
