<div class="photos">
  <tabset>
    <tab heading="Albums">
      <div class="row nopadding">
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
      </div>
    </tab>
    <tab heading="Photos">
      <div class="row nopadding">
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
      </div>
    </tab>
    <tab heading="My Albums">
      <div class="row nopadding">
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
        <app-album class="col-6 nopadding"></app-album>
      </div>
    </tab>
    <tab heading="My Photos">
      <div class="row nopadding">
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
        <app-photo class="col-6 nopadding"></app-photo>
      </div>
    </tab>
  </tabset>

</div>
