.marketspace-item{
    padding: 15px;
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .fa{
        color: #c6c6cc;
        padding: 0 20px;
    }
    .price{
        font-size: 30px;
        font-weight: bold;
        color: rgb(233, 108, 5);
    }
}