.notifications{
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 40px;
    min-height: 100vh;
}
.image-circle {
    width: 50px;
    border: 1px solid #00A0DF;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}